<app-header></app-header>

<!-- <div class="categories-container">
  <app-category-card imageUrl="https://www.dior.com/couture/var/dior/storage/images/29894871/110-eng-US/cdc-dispatch27_1440_1200.jpg" text="Fashion & Accessories"></app-category-card>
  <app-category-card imageUrl="https://www.dior.com/couture/var/dior/storage/images/horizon/home-one-dior/dispatch-odd/pcd-dispatch/40468851-13-eng-US/pcd-dispatch_1440_1200.jpg" text="Fragrance & Beauty"></app-category-card>
</div>

<app-footer></app-footer> -->

<!-- //Colors inside just app component -->

<!-- <div class="dual-example"></div>
<div style="display: flex; border: 1px solid black; height: 200px;">
  <app-color-card color="red"></app-color-card>
  <app-color-card color="yellow"></app-color-card>
</div> -->


<!-- Colors inside dual color -->
<app-dual-color-card class="dual-color"></app-dual-color-card>
