<!-- <div class="container">
    <div style="display: flex; border: 1px solid black; height: 200px;">
        <app-color-card color="red"></app-color-card>
        <app-color-card color="yellow"></app-color-card>
      </div>
</div>
   -->
   <!-- <div class="container">
    <app-color-card color="red"></app-color-card>
    <app-color-card color="yellow"></app-color-card>
  </div>
   -->

   <div class="container">
    <app-color-card color="red" imageSrc="https://www.dior.com/couture/var/dior/storage/images/29894871/110-eng-US/cdc-dispatch27_1440_1200.jpg"></app-color-card>
    <app-color-card color="yellow" imageSrc="https://www.dior.com/couture/var/dior/storage/images/horizon/home-one-dior/dispatch-odd/pcd-dispatch/40468851-13-eng-US/pcd-dispatch_1440_1200.jpg"></app-color-card>
  </div>