.left-section-container {
    display: flex;
    justify-content: space-between; /* Optional: aligns the children with space in between */
    margin: 5px;
  }

  
  .top-section {
    display: flex;
    justify-content: space-between; /* Pushes part-left and part-right to the edges */
    align-items:start; 
  }
  
  .part-left, .part-right {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: flex-end; /* This will push the children elements of .part-right to the right */
    align-items:flex-end; 
  }
  
  .part-left {
    flex: 1; /* Takes up available space, pushing part-right to the edge */
    text-align: left;
    align-items: flex-start;
  }
  .part-right {
    text-align: right;
  }
  .text-editables {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .editable-text {
    background-color: white;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    width:100px;
    margin:5px;
  }
  .personality-dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .personality-dropdown:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  .part-left > *, .part-right > * {
    margin: 5px;
  }
  