<app-piechart1 [values]="[10, 20, 30, 40]" [labels]="['Thing 1', 'Thing 2', 'Thing 3', 'Thing 4']"></app-piechart1>
<app-piechart2 [values]="[10, 20, 30, 40]" [labels]="['Thing 1', 'Thing 2', 'Thing 3', 'Thing 4']"></app-piechart2>
<app-legend></app-legend>
<div style="display: flex; align-items: center; justify-content: center;">
  <div style="margin-right: 40px;">
    <app-piechart2 [values]="[60, 10, 10, 10]" [labels]="['Thing 1', 'Thing 2', 'Thing 3', 'Thing 4']"></app-piechart2>
  </div>
  <div>
    <app-legend></app-legend>
  </div>
</div>

<div style="display: flex; align-items: center; justify-content: center;">
  <div style="margin-right: 40px;">
    <app-piechart2 [values]="[10, 1, 5, 70]" [labels]="['Thing 1', 'Thing 2', 'Thing 3', 'Thing 4']"></app-piechart2>
  </div>
  <div>
    <app-legend-v></app-legend-v>
  </div>
</div>
