<!-- <p>lobo-card:</p>
<div class="lobo-card">
    <div class="left-section">
        left section
    </div>
    <div class="right-section">
        <div class="side-r">
            r
        </div>
        <div class="side-l">
            l
        </div>
    </div>
    <div class="bottom-section">
        bottom
    </div>
</div> -->
<!-- 
<p>lobo-card:</p>
<div class="lobo-card">
    <div class="left-section">
        left section
    </div>
    <div class="right-section">
        <div class="side-r">
            r
        </div>
        <div class="side-l">
            l
        </div>
    </div>
    <div class="bottom-section">
        bottom
    </div>
</div> -->


<!-- <p>lobo-card:</p>
<div class="lobo-card">
    <app-left-section></app-left-section>
    <app-right-section></app-right-section>
</div> -->

<div class="lobo-card">
    <app-left-section></app-left-section>
    <div class="vertical-bar"></div>
    <app-right-section></app-right-section>
</div>