<!-- <p>blue-section works!</p>
<app-name-input></app-name-input>
<app-level-container></app-level-container>
<app-blue-image></app-blue-image>
<app-bottom-editable-text></app-bottom-editable-text> -->

<!-- <div class="blue-section-container"> -->
<!-- <h3>Blue Section</h3> -->
<!-- <app-name-input></app-name-input> -->

<!-- <div class="top-section"> -->
<!-- <div class="part-left"> -->
<!-- <app-blue-image></app-blue-image> -->
<!-- </div> -->
<!-- <div class="part-right"> -->
<!-- <app-level-container></app-level-container> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="bottom-section"> -->
<!-- <app-bottom-editable-text></app-bottom-editable-text> -->
<!-- </div> -->

<!-- </div> -->


<div class="blue-section-container">
    <!-- <h3>Blue Section</h3> -->
    <app-name-input></app-name-input>

    <div class="top-section">
        <div class="part-left">
            <app-blue-image></app-blue-image>
        </div>
        <div class="part-right">
            <app-level-container></app-level-container>
            <!-- <div class="image-container">
                <div class="img">img</div>
              </div> -->
            <div>
                <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg">
                    <rect width="45" height="45" fill="purple" />
                    <text x="50%" y="50%" font-family="Arial" font-size="40" fill="white" text-anchor="middle"
                        dominant-baseline="central">Y</text>
                </svg>
            </div>

        </div>
    </div>
    <div class="bottom-section">
        <app-bottom-editable-text></app-bottom-editable-text>
    </div>

</div>